

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Droid Sans Mono', monospace;

}
#mainDisplay {
  background-color: @color-timer-bg;
  color: @color-standard-text;
  height: 100%;
  width: 100%;
  padding: 50vh 0 0;
  text-align: center;
  font-size: 30vw;
  font-weight: bold;
  &.hasHours {
    font-size: 20vw;
  }
  line-height: 0;
  &[data-timemode="expired"] {
    color: @color-expired-text;
  }
  &[data-timemode="endingSoon"] {
    color: @color-ending-soon-text;
  }
}
